html, body {
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px 0px;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

.container h1 {
  margin-bottom: 10px;
  color: #333;
}

.container p {
  margin-bottom: 20px;
  color: #555;
}

#qrcodeImg {
  max-width: 100%;
  margin-bottom: 20px;
}

.pix-codigo {
  word-break: break-all;
  font-size: 14px;
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
}

button {
  background-color: #d6006d;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #b4005c;
}

h2 {
  color: #222;
  margin-bottom: 10px;
}

#contador {
  font-weight: bold;
  color: #d6006d;
}

ol {
  text-align: left;
  margin: 20px auto;
  padding-left: 20px;
  max-width: 340px;
  color: #444;
}

.ol li {
  margin-bottom: 10px;
}

#pixArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#pixArea input {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.ou {
  margin: 15px 0;
  font-weight: bold;
  color: #555;
}

.qrcode img {
  max-width: 100%;
  margin: 0 auto 20px;
}

.btn-confirmar {
  background-color: #28a745;
  margin-top: 10px;
}

.btn-confirmar:hover {
  background-color: #218838;
}

.alerta {
  margin-top: 15px;
  color: #b30000;
  font-size: 13px;
}

.resumo-compra {
  text-align: left;
  margin-top: 30px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

.resumo-compra h3 {
  margin-bottom: 10px;
}

.resumo-compra ul {
  list-style: none;
  padding: 0;
}

.resumo-compra li {
  margin-bottom: 6px;
}


.btn-exibir-qrcode {
  background-color: #007bff;
  margin-top: 20px;
}

.btn-exibir-qrcode:hover {
  background-color: #0056b3;
}