<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Pagamento via Pix</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pix.css') }}">

</head>
<body>

  <div class="container">
    <img src="{{ url_for('static', filename='img/pix-logo.png') }}" alt="Pix" class="logo" />

    <h1>Pedido gerado! Agora finalize o pagamento</h1>

    <ol>
      <li>Aperte em <strong>“Copiar Código”</strong>.</li>
      <li>Abra o app do seu banco e entre na opção Pix.</li>
      <li>Escolha a opção <strong>Pix copia e cola</strong>.</li>
      <li>Confirme o pagamento.</li>
    </ol>

    <p>A aprovação leva no máximo 2 minutos.</p>

    <div class="codigo" id="codigo-pix">{{ codigo_pix }}</div>
    <input type="hidden" id="pagamento-id" value="{{ pagamento_id }}">

    <div class="buttons">
      <button class="btn btn-copy" onclick="copiarCodigo()">📋 Copiar Código Pix</button>
      
    </div>

    

    <p class="total">Total: R$ {{ valor }}</p>
  </div>

  <script src="{{ url_for('static', filename='js/pix.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.1/build/qrcode.min.js"></script>
</body>
</html>